/* Write some CSS below */
.backgroud {
    position: relative;
    z-index: -1;
    width: 1450px;
    height: 540px;
}

h1 {
    color: rgba(248, 248, 248, 0.945);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}

a {
    font-size: 25px;
    background-color: rgba(227, 227, 239, 0.444);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin: 100px;
    position: absolute;
    left: 20%;
    right: 20%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.lewagon {
    position: absolute;
    z-index: 1;
    display: inline;
    top: 0;
    left: 10%;
    right: 10%;

    margin: 130px;
}

h3 {
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    margin: 30px 180px;
}

.h4 {
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 900;
    text-align: justify;
}

.shanghai {
    width: 300px;
    height: 320px;
    margin: 30px;
    padding: 20PX 20PX;
    box-shadow: 5PX 5px 20PX 10px rgb(180, 179, 179);
}

.cards {
    display: flex;
    flex-direction:columnc ;
    flex-wrap: wrap;

    margin: 50px 5%;
}

span {
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3.5px;
    position: absolute;
    left: 10%;
    bottom: 2px;
}
video {
    width: 85%;
    height: auto;
    margin: 30px;
    padding: 20PX 20PX;
    box-shadow: 5PX 5px 20PX 10px rgb(180, 179, 179);
}

footer {
    position: absolute;
    background-color: rgba(211, 224, 229, 0.703);
    width: 100%;
    height: 30px;
    
}

.cumpus {
    width: 300px;
    height: 200px;

/* buchong */
    @media screen and (max-width:768px) {
        header ul {
          display: none;
        }
        header h1 {
         left: 50%;
         transform:translate X(-50%);
        }
        .news h2 {
         font-size: 40px;
        }
}